{% if characters %}
    {% for character in characters %}
        <div class="character-card {% if character.problems_solved_count == 0 %}not-achieved{% endif %}">
            <div class="card-outer-border level-{{ character.user_level|lower|default:'none' }}"> 
                <div class="card-border">
                    <div class="card-body" style="background-image: url('/static/images/cards/{{ character.technical_name }}/{{ character.technical_name }}-background-frame.png');">

                        <div class="card-art-frame">
                            <img class="card-art" src="/static/images/cards/{{ character.technical_name }}/{{ character.technical_name }}-art-frame.png" alt="{{ character.display_name }}">
                        </div>

                        <div class="card-name-plate">
                            {{ character.display_name }}
                        </div>

                        <div class="card-level-plate">
                            Level {{ character.problems_solved_count|default:'0' }}
                        </div>

                        <div class="card-type-plate">
                            {{ character.category }} 
                        </div>

                        <div class="card-description-box" style="background-image: url('/static/images/cards/{{ character.technical_name }}/{{ character.technical_name }}-text-box.png');">
                            <div class="card-ability-section">   
                                <div class="card-ability-header">
                                    <div class="card-text-label-wrapper">
                                        <span class="card-text-label label-ability">Ability</span>
                                    </div>
                                    <span class="card-ability-name">
                                        {{ character.ability }}
                                    </span>
                                </div>

                                <p class="card-description-text">
                                    {{ character.ability_description }}
                                </p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% elif user_characters %}
    {% for character in user_characters %}
        <div class="character-card {% if character.user_level == 'blank' %}not-achieved{% endif %}">
            <div class="card-outer-border level-{{ character.level|lower|default:'none' }}"> 
                <div class="card-border">
                    <div class="card-body" style="background-image: url('/static/images/cards/{{ character.character.technical_name }}/{{ character.character.technical_name }}-background-frame.png');">

                        <div class="card-art-frame">
                            <img class="card-art" src="/static/images/cards/{{ character.character.technical_name }}/{{ character.character.technical_name }}-art-frame.png" alt="{{ character.character.display_name }}">
                        </div>

                        <div class="card-name-plate">
                            {{ character.character.display_name }}
                        </div>

                        <div class="card-level-plate">
                            Level {{ character.problems_solved_count|default:'0' }}
                        </div>

                        <div class="card-type-plate">
                            {{ character.character.category }} 
                        </div>

                        <div class="card-description-box" style="background-image: url('/static/images/cards/{{ character.character.technical_name }}/{{ character.character.technical_name }}-text-box.png');">
                            <div class="card-ability-section">   
                                <div class="card-ability-header">
                                    <div class="card-text-label-wrapper">
                                        <span class="card-text-label label-ability">Ability</span>
                                    </div>
                                    <span class="card-ability-name">
                                        {{ character.character.ability }}
                                    </span>
                                </div>

                                <p class="card-description-text">
                                    {{ character.character.ability_description }}
                                </p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="no-results">No Characters Found.</p>
{% endif %}