{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <header class="main-header">
        <div class="logo"><a href="{% url 'index' %}">Juicy Guys</a></div>
        <nav class="main-nav">
            <ul>
                <li><a href="{% url 'load_about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'character_list_window' %}">Characters</a></li>
                <li><a href="{% url 'problem_list_window' %}">Problems</a></li>
                <li><a href="{% url 'profile_window' %}">Profile</a></li>
                {% else %}
                <li><a href="{% url 'signup_view' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <section class="about-frame">
            <div class="about-description">
                <h1 class="profile-username">How Juicy Guys Came to Be</h1>
                <p class="line">
                    I came accross the idea for Juicy Guys on a bike ride in late September. 
                    The route I was on took me past the house of a highschool friend, and as I biked past I remembered a certain class we had. 
                    During that class, while I was doing work, I looked over at his desk and saw him drawing something.
                    That something was the first rendering of a Juicy Guy. 
                    For the rest of the day I thought about making a card game that revolved around Juicy Guys but when morning came the idea was completely forgotten.
                </p>
                <p class="line">
                    That is, until now.
                </p>
                <p class="line">
                    During the rest of my ride, I thought about how I could bring Juicy Guys to life, and landed on making a Leetcode style code evaluation platform with a twist.
                    So I got home and began working. Fast forward a month and a half later, Juicy Guys is ready for its first release. 
                </p>
                <p class="line">
                    This was definitely an undertaking. 
                    I struggled every step of the way, especially on the code evaluation part of the code evaluation platform :). 
                    But with troubleshooting help from Stack Overflow, and a bit of advice from Gemini, Juicy Guys is open for service.
                </p>
                <p class="line">
                    P.S. - Apologies if you encounter slow runtimes or crashes, the site has limited access to RAM and Disk Space.
                    In the future I hope to expand its capabilities.
                </p>

            </div>
            <div>
                <div class="photo-container">
                    <img src="{% static 'images/about_me_profile_pic.jpg' %}" alt="Photo of me" width="360" height="475"/>
                    <p class="line">Thinking of how to level up</p>
                </div>

                <div class="social-links">
                    <a href="https://www.linkedin.com/in/benjamin-brady-5212382a6/" target="blank" class="link">LinkedIn</a>
                    <a href="https://github.com/wizardmonkey83" target="blank" class="link">GitHub</a>
                    <a href="https://www.youtube.com/@bromleyp" target="blank" class="link">YouTube</a>
                </div>
            </div>
        </section>
    </main>