{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/problems.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
    <title>Problem list</title>
</head>
<body>
    <!-- logic for this needs to be implemented. hrefs are placeholders. -->
    <header class="main-header">
        <div class="logo">Juicy Guys</div>
        <nav class="main-nav">
            <ul>
                <li><a href=":()">Characters</a></li>
                <li><a href="{% url 'problem_list_window' %}">Problems</a></li>
                <li><a href=":()">Profile</a></li>
            </ul>
        </nav>
    </header>
    <!-- "problem-list-container" will contain three sections vertically stacked."category-section", "filter-section", and "problem-list" -->
    <main class="problem-list-container">

        <!-- this is an expandable "header" where the use can select a certain topic (system design, DSA, etc). -->
        <!-- it will begin collapsed, showing one row of topics. if the user presses an "expand" arrow, the rest of the topics will expand downwards. -->
        <div class="category-section">
            <div class="category-tag">
                    <img src="{% static 'icons/all_categories.svg' %}" alt="All Categories Icon" class="category-icon">
                    All Categories
                </div>
            {% for category in categories %}
                <!-- the image and title will be positioned side by side in "category-container" -->
                <div class="category-tag">
                    <img src="{% static 'icons/'|add:category.icon_filename %}" alt="{{ category.name }} Icon" class="category-icon">
                    {{ category.name }}
                </div>
            {% endfor %}
        </div>

        <div class="filter-section">
            <!-- left side -->
            <form>
               <input type="search" name="query" class="search-questions" placeholder="Search questions..." hx-post="{% url 'search_for_problem' %}" hx-trigger="keyup changed delay:500ms, search" hx-target="#problem-list" hx-swap="innerHTML">
            {% csrf_token %}
            </form>
            <form>
                <button class="difficulty-tag" type="submit" hx-post="{% url 'filter_problem_difficulty' %}" value="easy" name="difficulty" hx-target="#problem-list" hx-swap="innerHTML">Easy</button>
                <button class="difficulty-tag" type="submit" hx-post="{% url 'filter_problem_difficulty' %}" value="medium" name="difficulty" hx-target="#problem-list" hx-swap="innerHTML">Medium</button>
                <button class="difficulty-tag" type="submit" hx-post="{% url 'filter_problem_difficulty' %}" value="hard" name="difficulty" hx-target="#problem-list" hx-swap="innerHTML">Hard</button>
                <button class="difficulty-tag" type="submit" hx-post="{% url 'filter_problem_difficulty' %}" value="legendary" name="difficulty" hx-target="#problem-list" hx-swap="innerHTML">Legendary</button>
            {% csrf_token %}
            </form>

            <!-- right side -->
             <div class="quote">{{ quote.quote }}</div>

        </div>

        <div id="problem-list" class="problem-list">
            {% for problem in problems %}
                <!-- user clicks this to take them to the problem. not sure if the "submit" functionality is correct. -->
                <a href="{% url 'load_problem' problem_id=problem.id%}" class="problem-rectangle {% cycle 'odd' 'even' %}">
                    <div class="problem-title">{{ problem.title }}</div>
                    
                    <div class="problem-details">
                        <!-- big gap between title and rest of elements. title is positioned to the left. everything below is to the right. -->
                        <div class="problem-percentage">{{ problem.acceptance_rate }}%</div>
                        <div class="problem-difficulty {{ problem.difficulty|lower }}">{{ problem.get_difficulty_display }}</div>
                        <div class="problem-category">{{ problem.category }}</div>
                        {% if problem.user_status == "solved" %}
                            <div class="problem-status solved">Solved</div>
                        {% elif problem.user_status == "attempted" %}
                            <div class="problem-status attempted">Attempted</div>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
            <!-- may need to include a multi-page functionality and load like 30 problems per page. or just load all on one page. -->
        </div>

    </main>
</body>
