{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'css/problems/problem_list.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>Problems</title>
</head>
<body>
    <header class="main-header">
        <div class="logo"><a href="{% url 'index' %}">Juicy Guys</a></div>
        <nav class="main-nav">
            <ul>
                <li><a href="{% url 'load_about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'character_list_window' %}">Characters</a></li>
                <li><a href="{% url 'problem_list_window' %}">Problems</a></li>
                <li><a href="{% url 'profile_window' %}">Profile</a></li>
                {% else %}
                <li><a href="{% url 'signup_view' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <!-- "problem-list-container" will contain three sections vertically stacked."category-section", "filter-section", and "problem-list" -->
    <main class="problem-list-container">

        <!-- this is an expandable "header" where the use can select a certain topic (system design, DSA, etc). -->
        <!-- it will begin collapsed, showing one row of topics. if the user presses an "expand" arrow, the rest of the topics will expand downwards. -->
        <div id="category-section" class="category-section">
            <form>
                <ul class="topics-list">
                    <li>
                        <button class="category-tag" hx-post="{% url 'filter_problem_categories' %}" hx-target="#problem-list" hx-swap="innerHTML" value="all" name="category_id" type="button">
                            <img src="{% static 'icons/bucket.svg' %}" alt="All Categories Icon" class="category-icon">
                            All Categories
                        </button>
                    </li>
                    {% for category in categories|slice:":5" %}
                    <li>
                        <button class="category-tag" hx-post="{% url 'filter_problem_categories' %}" hx-target="#problem-list" hx-swap="innerHTML" value="{{ category.id }}" name="category_id" type="button">
                            <img src="{% static 'icons/'|add:category.icon_filename %}" alt="{{ category.name }} Icon" class="category-icon">
                            {{ category.name }}
                        </button>
                    </li>
                    {% endfor %}
                    <li><button id="expand-button" type="button" class="expand-categories">Expand</button></li>
                    {% for category in categories|slice:"5:" %}
                    <li class="hidden">
                        <button class="category-tag" hx-post="{% url 'filter_problem_categories' %}" hx-target="#problem-list" hx-swap="innerHTML" value="{{ category.id }}" name="category_id" type="button">
                            <img src="{% static 'icons/'|add:category.icon_filename %}" alt="{{ category.name }} Icon" class="category-icon">
                            {{ category.name }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            {% csrf_token %}
            </form>
        </div>

        <div class="problem-tags-container">
            <!-- left side -->
            <form>
               <input type="search" name="query" class="search-questions" placeholder="Search questions..." hx-post="{% url 'search_for_problem' %}" hx-trigger="keyup changed delay:500ms, search" hx-target="#problem-list" hx-swap="innerHTML">
            {% csrf_token %}
            </form>
            <form>
                <button class="tag-item" type="submit" hx-post="{% url 'filter_problem_difficulty' %}" value="all" name="difficulty" hx-target="#problem-list" hx-swap="innerHTML">All</button>
                <button class="tag-item difficulty-easy" type="submit" hx-post="{% url 'filter_problem_difficulty' %}" value="easy" name="difficulty" hx-target="#problem-list" hx-swap="innerHTML">Easy</button>
                <button class="tag-item difficulty-medium" type="submit" hx-post="{% url 'filter_problem_difficulty' %}" value="medium" name="difficulty" hx-target="#problem-list" hx-swap="innerHTML">Medium</button>
                <button class="tag-item difficulty-hard" type="submit" hx-post="{% url 'filter_problem_difficulty' %}" value="hard" name="difficulty" hx-target="#problem-list" hx-swap="innerHTML">Hard</button>
                <button class="tag-item difficulty-legendary" type="submit" hx-post="{% url 'filter_problem_difficulty' %}" value="legendary" name="difficulty" hx-target="#problem-list" hx-swap="innerHTML">Legendary</button>
                <button class="tag-item difficulty-medium" type="submit" hx-post="{% url 'filter_problem_status' %}" hx-target="#problem-list" hx-swap="innerHTML">Attempted</button>
            {% csrf_token %}
            </form>

            <!-- right side -->
             <div class="quote">{{ quote.quote }}</div>

        </div>

        <div id="problem-list" class="problem-list">
            {% for problem in problems %}
                <a href="{% url 'load_problem' problem_id=problem.id %}" class="problem-rectangle {% cycle 'odd' 'even' %}">
                    
                    <div class="problem-main-info">
                        <div class="problem-title">{{ problem.title }}</div>
                        {% if problem.user_status == "solved" %}
                            <div class="problem-status solved">Solved</div>
                        {% elif problem.user_status == "attempted" %}
                            <div class="problem-status attempted">Attempted</div>
                        {% endif %}
                    </div>
                    
                    <div class="problem-meta-info">
                        <div class="problem-category" title="Category">{{ problem.category }}</div>
                        <div class="problem-percentage" title="Acceptance">{{ problem.acceptance_rate }}%</div>
                        <div class="problem-difficulty {{ problem.difficulty|lower }}" title="Difficulty">{{ problem.get_difficulty_display }}</div>
                    </div>
                </a>
            {% endfor %}
            <!-- may need to include a multi-page functionality and load like 30 problems per page. or just load all on one page. -->
        </div>

    </main>
    <script>
        const categoryContainer = document.getElementById("category-section");
        const expandButton = document.querySelector(".expand-categories");
        expandButton.addEventListener("click", function() {
            // toggling adds or removes classes
            categoryContainer.classList.toggle("is-expanded");

            if (categoryContainer.classList.contains("is-expanded")) {
                expandButton.innerHTML = "Collapse";
            } else {
                expandButton.innerHTML = "Expand";
            }
        });
    </script>
</body>
</html>
