.card-outer-border {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px; 
    padding: 4px; 
    background-color: transparent;
    transition: all 0.3s ease;
}

.card-border {
    height: 100%; 
    width: 100%; 
    box-sizing: border-box;
    padding: 10px; 
    border-radius: 20px; 
    cursor: pointer;
    background: linear-gradient(to bottom, #D8D8D8, #A0A0A0); 
    box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
}


.card-outer-border.level-bronze { 
    background: linear-gradient(145deg, #F0C2A2, #CD7F32, #8C5E35, #CD7F32, #F0C2A2); 
}

.card-outer-border.level-silver { 
    background: linear-gradient(145deg, #FFFFFF, #D3D3D3, #A9A9A9, #D3D3D3, #FFFFFF); 
}

.card-outer-border.level-gold { 
    background: linear-gradient(145deg, #FEE38D, #E4B43C, #A97B1A, #E4B43C, #FEE38D); 
}

.card-body {
    width: 100%;
    height: 100%;
    position: relative; 
    box-sizing: border-box;
    border-radius: 10px; 
    background-size: cover;
    background-position: center;
}

.card-art-frame {
    position: absolute;
    top: 52px;
    left: 18px;
    right: 18px;
    height: 170px;
    border-radius: 12px;
    background-color: #E0E0E0; 
    padding: 4px;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);

}

.card-art {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px; 
}

.card-name-plate {
    position: absolute;
    top: 22px; 
    left: 28px;
    background-color: #E0E0E0; 
    color: #1A1A1A;
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5rem;
    padding: 4px 12px;
    border-radius: 8px 8px 0 0; 
    z-index: 10; 
}

.card-level-plate {
    position: absolute;
    top: -.5px; 
    right: 18px;
    background-color: #d5d5d5;
    color: #1A1A1A;
    font-family: "Jersey 10", sans-serif;
    font-size: 1.1rem;
    padding: 4px 12px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.card-type-plate {
    position: absolute;
    top: 218px; 
    left: 28px;
    background-color: #E0E0E0;
    color: #1A1A1A;
    font-family: "Jersey 10", sans-serif;
    font-size: 1.2rem;
    padding: 4px 12px;
    border-radius: 0 0 8px 8px;
    z-index: 10;
}

.card-description-box {
    position: absolute;
    top: 240px;
    bottom: 18px;
    left: 18px;
    right: 18px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}


.card-description-text {
    margin: 0;
    color: #000000; 
    font-family: "DM Sans", sans-serif;
    font-size: 0.75rem; 
    line-height: 1.4; 
    font-style: italic;
}

.card-text-label-wrapper {
    padding: 1px 12px; 
    background-color: #d5d5d5;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    margin-right: 6px;
    flex-shrink: 0; 
    text-align: left;
}

.card-text-label {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.1rem;
    font-style: italic;
    
    color: transparent; 
    -webkit-background-clip: text; 
    background-clip: text;        
    white-space: nowrap;
}

.card-text-label.label-ability {
    background-image: linear-gradient(45deg, #f5b427, #fc9b00);
}

.card-ability-section {
    padding: 0;
    margin: 0;
    text-align: left;
}

.card-ability-header {
    display: flex;
    align-items: center;
    margin-bottom: 6px; 
}


.card-ability-name {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.1rem; 
    font-style: italic;
    color: transparent; 
    -webkit-background-clip: text; 
    background-clip: text;        
    white-space: nowrap;
    background-color: #9b0fff;
    margin-left: 6px; 
    padding-right: 4px;
}

.character-card.not-achieved {
    filter: grayscale(80%);
    opacity: 0.7;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.character-card.not-achieved .card-outer-border {
    background: none;
    padding: 0;
    box-shadow: none;
}